@keyframes scan-scrim {
  0% {
    background-position-x: -800px;
  }
  100% {
    background-position-x: 0;
  }
}

.App {
  --font-body: "Outfit";
  --font-cyber: "Russo One";
  --font-mono: "IBM Plex Mono";

  --palette-fg: white;
  --palette-bg: #121212;
  --palette-lines: #999999;
  --palette-disabled: #999999;
  --palette-settings-bg: #333333;
  --palette-accent: #c96f12;

  &.iceBiome {
    --palette-bg: #060716;
    --palette-settings-bg: hsl(200, 45%, 24%);
    --palette-accent: hsl(186, 97%, 44%);
  }

  &.lavaBiome {
    --palette-bg: #140b05;
    --palette-settings-bg: #4d2114;
    --palette-accent: #ca0b0b;
  }

  display: flex;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;

  color: var(--palette-fg);
  background: var(--palette-bg);
  font-family: var(--font-body);

  .settingsPanel {
    width: 240px;
    flex-shrink: 0;
    flex-grow: 1;
    background: var(--palette-settings-bg);
  }

  .mainPanel {
    position: relative;
    width: 75%;
    overflow: hidden;

    .grid {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      background: var(--palette-settings-bg);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        background-image: linear-gradient(
          to left,
          transparent 0px,
          var(--palette-accent) 25px,
          transparent 400px
        );
        background-size: 800px 100%;
        animation: scan-scrim 3s infinite linear;
        opacity: 0;
        transition: opacity 3000ms ease-in;
      }

      &.loading::before {
        opacity: 1;
        transition: opacity 250ms ease-out;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        background: var(--palette-bg);
        mask-composite: subtract;
        mask-image: linear-gradient(
            to right,
            white 16px,
            transparent 16px,
            transparent 17px,
            white 17px
          ),
          linear-gradient(
            transparent 16px,
            black 16px,
            black 17px,
            transparent 17px
          );
        mask-size: 32px 32px;
      }

      &.hasError {
        background: #bebe13;
        mask-image: linear-gradient(
          120deg,
          white 25%,
          transparent 25%,
          transparent 50%,
          white 50%,
          white 75%,
          transparent 75%,
          transparent 100%
        );
        mask-size: 46.19px 80px;

        &::before,
        &::after {
          content: none;
        }
      }
    }

    .stepName {
      position: absolute;
      top: 16px;
      left: 16px;
      font-size: 16px;
      font-variant-numeric: tabular-nums;
    }

    .controls {
      display: flex;
      gap: 8px;
      margin: 16px;
      position: absolute;
      bottom: 0;
      right: 0;

      button,
      .button {
        display: block;
        height: 48px;
        width: 48px;
        font-size: 36px;
        line-height: 46px;
        box-sizing: border-box;
        border: 1px solid var(--palette-lines);
        padding: 0;
        margin: 0;

        color: var(--palette-fg);
        background: var(--palette-bg);
        font-family: "Material Symbols Outlined";
        text-align: center;
        text-decoration: none;

        &.disabled {
          border-style: dashed;
          color: var(--palette-lines);
        }
      }
    }
  }

  .vizOptsPanel {
    position: relative;
    width: 128px;
    flex-shrink: 0;
    flex-grow: 0;

    background-image: linear-gradient(var(--palette-lines) 1px, transparent 1px),
      linear-gradient(to right, var(--palette-lines) 1px, transparent 1px);
    background-size: 16px 16px;
    font-family: var(--font-cyber);

    h1 {
      font-weight: normal;
      margin: 4px 0;
      text-align: center;
    }

    button {
      position: relative;
      left: -8px;
      width: 152px;
      height: 24px;
      box-sizing: border-box;
      border: 1px solid var(--palette-lines);
      margin-bottom: 8px;
      padding: 0 16px 0 8px;

      background: var(--palette-bg);
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      color: var(--palette-fg);
      font-family: var(--font-cyber);
      transition: left 200ms ease-out;

      &:hover {
        left: -14px;
      }

      &.active {
        left: -16px;
        color: var(--palette-bg);
        background: var(--palette-fg);
      }

      &.disabled {
        color: var(--palette-disabled);
      }
    }
  }
}
