.about {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #03cadf;
  background: #121212;
  font-family: "Outfit";
}
