.about {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--palette-bg);
  color: var(--palette-accent);
  font-family: "Outfit";

  a {
    color: var(--palette-fg);
  }
}
