.popoverWrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > div {
    background: var(--palette-bg);
    border: 1px solid var(--palette-settings-bg);
    margin: 0 auto;
    padding: 12px 24px;
    max-width: 500px;
    max-height: calc(100% - 100px);
    overflow-x: hidden;
    overflow-y: scroll;

    h1,
    h2,
    h3,
    p {
      margin: 4px 0;
    }

    h1,
    h2,
    h3 {
      color: var(--palette-accent);
    }

    a,
    button {
      border: none;
      padding: 0;
      font-size: 1em;
      background: none;
      color: var(--palette-accent);
      cursor: pointer;
      font-family: var(--font-body);
      text-decoration: underline;
    }

    > ul {
      padding-left: 0;
      margin: 4px 0;
    }

    .subhead {
      font-size: 0.5em;
    }

    h3::before {
      font-family: "Material Symbols Outlined";
      content: "subdirectory_arrow_right";
    }

    &.about {
      em {
        font-style: normal;
        color: var(--palette-accent);
      }
    }

    &.lore {
      p {
        white-space-collapse: preserve-breaks;
      }
    }

    &.error {
      --palette-settings-bg: yellow;
      --palette-accent: yellow;

      .message {
        white-space-collapse: preserve;
      }

      .stack {
        font-size: 8px;
        white-space: pre;
      }

      .context {
        font-size: 8px;
        line-break: anywhere;
      }
    }
  }
}
