.lorePreview {
  position: absolute;
  left: 48px;
  top: 48px;
  right: 48px;
  bottom: 48px;

  --color-bg: #333333;
  --color-bg-alt: #222222;
  --color-fg: #69d426;
  --color-offscreen: #397513;
  --color-included: #9999ff;
  --color-requires: #ecb724;
  --color-selected: white;

  .tabs {
    height: 48px;
  }

  .pgWrapper {   
    position: absolute;
    padding: 12px;
    left: 0;
    top: 48px;
    right: 0;
    bottom: 0;
    background: var(--color-bg);
    border-radius: 12px;

    .pg {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow-x: hidden;
      overflow-y: scroll;

      .graph {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;

        .link {
          fill:none;
          stroke-width: 4px;
          &.onscreen {
            stroke: var(--color-fg);
          }
          &.offscreen {
            stroke: var(--color-offscreen);
          }
          &.included {
            stroke: var(--color-included);
          }
          &.selected {
            stroke: var(--color-selected);
          }
        }

        .phrase {
          fill: var(--color-fg);
          &.requires {
            r: 6px;
          }
          &.included {
            fill: var(--color-included);
          }
          &.reachableFromSelected {
            fill: var(--color-selected);
          }
          &.selected {
            r: 10px;
          }
        }
      }

      .list {
        font-family: "Silkscreen";
        font-size: 10px;
        color: var(--color-fg);
        text-align: center;

        .phrase {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          height: 36px;
          padding-left: 150px;
          overflow: hidden;
          column-gap: 24px;
          align-items: center;

          &.even {
            background: var(--color-bg-alt);
          }

          &.notPresent {
            text-decoration: line-through;
          }

          &.requires {
            color: var(--color-requires);
          }

          &.selected {
            color: var(--color-selected);
          }

          .text.included {
            color: var(--color-included);
          }
        }
      }
    }
  }
}