.lorePreview {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  --color-bg: #333333;
  --color-bg-odd: #ffffff11;
  --color-fg: #a0a0a0;
  --color-offscreen: #727272;
  --color-included: var(--palette-accent);
  --color-selected: white;

  --tab-height: 24px;

  .tabs {
    position: absolute;
    top: 0;
    height: var(--tab-height);
    z-index: 1;

    .tab {
      position: relative;
      top: -4px;
      height: var(--tab-height);
      box-sizing: border-box;
      border: 1px solid var(--palette-lines);
      border-top: none;

      color: var(--palette-fg);
      background: var(--palette-bg);
      font-family: var(--font-body);
      font-weight: normal;
      line-height: calc(var(--tab-height) - 2px);

      &.active {
        top: 0;
        background: var(--palette-fg);
        color: var(--palette-bg);
      }
    }
  }

  .pgWrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 12px;

    background: var(--palette-bg);
    z-index: 0;

    .pg {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      padding-top: var(--tab-height);
      overflow-x: hidden;
      overflow-y: scroll;
      scrollbar-color: var(--palette-lines) transparent;

      .graph {
        position: absolute;
        top: var(--tab-height);
        left: 0;
        z-index: 1;
        pointer-events: none;

        .link {
          fill: none;
          stroke-width: 4px;
          stroke: var(--color-fg);

          &.long {
            stroke-dasharray: 8 4;
            opacity: 40%;
          }
        }

        .phrase {
          fill: var(--color-fg);
          &.requires {
            r: 6px;
          }
          &.included {
            fill: var(--color-included);
          }
          &.reachableFromSelected {
            fill: var(--color-selected);
          }
          &.selected {
            r: 10px;
          }
        }
      }

      .list {
        font-family: var(--font-tiny);
        font-size: 8px;
        color: var(--color-fg);

        .phrase {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          height: var(--phrase-height);
          padding-left: 150px;
          overflow: hidden;
          column-gap: 24px;
          align-items: center;

          &.odd {
            background: var(--color-bg-odd);
          }

          &.notPresent {
            text-decoration: line-through;
          }

          &.requires {
            font-family: var(--font-body);
            font-size: 14px;
          }

          &.selected {
            color: var(--color-selected);
          }

          .text.included {
            color: var(--color-included);
          }
        }
      }
    }
  }
}
