.lorePreview {
  position: absolute;
  left: 48px;
  top: 48px;
  right: 48px;
  bottom: 48px;

  --color-bg: #333333;
  --color-bg-alt: #222222;
  --color-fg: #69d426;
  --color-offscreen: #397513;
  --color-included: #9999ff;
  --color-requires: #ecb724;
  --color-selected: white;

  --tab-height: 24px;

  .tabs {
    height: var(--tab-height);
    .tab {
      height: var(--tab-height);
      background: #397513;
      color: white;
      border: none;
      box-sizing: border-box;
      font-family: 'Russo One';
      font-weight: normal;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      &.active {
        background: white;
        color: black;
      }
    }
  }

  .pgWrapper {   
    position: absolute;
    padding: 12px;
    left: 0;
    top: var(--tab-height);
    right: 0;
    bottom: 0;
    background: var(--color-bg);

    .pg {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow-x: hidden;
      overflow-y: scroll;

      .graph {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;

        .link {
          fill:none;
          stroke-width: 4px;
          &.onscreen {
            stroke: var(--color-fg);
          }
          &.offscreen {
            stroke: var(--color-offscreen);
          }
          &.included {
            stroke: var(--color-included);
          }
          &.selected {
            stroke: var(--color-selected);
          }
        }

        .phrase {
          fill: var(--color-fg);
          &.requires {
            r: 6px;
          }
          &.included {
            fill: var(--color-included);
          }
          &.reachableFromSelected {
            fill: var(--color-selected);
          }
          &.selected {
            r: 10px;
          }
        }
      }

      .list {
        font-family: "Silkscreen";
        font-size: 8px;
        color: var(--color-fg);

        .phrase {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          height: var(--phrase-height);
          padding-left: 150px;
          overflow: hidden;
          column-gap: 24px;
          align-items: center;

          &.even {
            background: var(--color-bg-alt);
          }

          &.notPresent {
            text-decoration: line-through;
          }

          &.requires {
            color: var(--color-requires);
          }

          &.selected {
            color: var(--color-selected);
          }

          .text.included {
            color: var(--color-included);
          }
        }
      }
    }
  }
}