.contextInput {
  padding: 0 8px;

  .seed {
    height: 36px;
    font-family: "Outfit";
    font-size: 24px;
    margin: 0;
    padding: 0;
    border: 1px solid #999;
    text-align: center;
    background: none;
    color: white;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
  }

  .inputRow {
    display: flex;
    justify-content: space-evenly;

    .biome {
      height: 36px;
      width: 36px;
      line-height: 34px;
      border: 1px dashed #999;
      text-align: center;
      background: none;
      color: white;
      &.active {
        border: 1px solid white;
      }
      &.selected {
        background: yellow;
        color: black;
      }
    }
  }
}