.vizOptsPanel {
  position: relative;
  width: 128px;
  flex-shrink: 0;
  flex-grow: 0;

  background-image:
    linear-gradient(var(--palette-lines) 1px, transparent 1px),
    linear-gradient(to right, var(--palette-lines) 1px, transparent 1px);
  background-size: 16px 16px;
  font-family: var(--font-cyber);

  h1 {
    font-weight: normal;
    margin: 4px 0;
    text-align: center;
  }

  button {
    position: relative;
    left: -8px;
    width: 152px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid var(--palette-lines);
    margin-bottom: 8px;
    padding: 0 16px 0 8px;

    background: var(--palette-bg);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: var(--palette-fg);
    font-family: var(--font-cyber);
    transition: left 200ms ease-out;

    &:hover {
      left: -14px;
    }

    &.active {
      left: -16px;
      color: var(--palette-bg);
      background: var(--palette-fg);
    }

    &.disabled {
      color: var(--palette-disabled);
    }
  }
}
