.cavernPreview {
  position: relative;
  overflow: hidden;

  width: 800px;
  height: 600px;

  background: black;
}

.baseplate {
  font-family: 'Silkscreen';
  font-size: 8px;
}

.baseplate text {
  fill: white;
}

.baseplate.stockKind rect {
  stroke: blue;
}

.baseplate.ambiguousKind rect {
  fill: #222222;
}

.baseplate.caveKind rect {
  fill: red;
}

.baseplate.hallKind rect {
  fill: darkred;
}

.path {
  stroke-linecap: round;
  stroke-dasharray: 2,3;
}

.path.ambiguousKind {
  stroke: white;
  stroke-opacity: 0.3;
}

.path.spanningKind {
  stroke: yellow;
}

.path.auxiliaryKind {
  stroke: yellowgreen;
}