.cavernPreview {
  position: relative;
  overflow: hidden;

  width: 800px;
  height: 600px;

  background: black;
}

.baseplate {
  font-family: "Silkscreen";
  font-size: 8px;
}

.baseplate > text {
  fill: white;
}

.baseplate.stockKind > rect {
  stroke: blue;
}

.baseplate.ambiguousKind > rect {
  fill: #222222;
}

.baseplate.caveKind > rect {
  fill: red;
}

.baseplate.hallKind > rect {
  fill: darkred;
}

.path {
  stroke-linecap: round;
  stroke-dasharray: 2, 3;
}

.path.ambiguousKind {
  --fg-color: white;
  --fg-opacity: 0.3;
}

.path.spanningKind {
  --fg-color: yellow;
}

.path.auxiliaryKind {
  --fg-color: yellowgreen;
}

.path > path {
  stroke: var(--fg-color);
  stroke-opacity: var(--fg-opacity);
  stroke-width: 2px;
}

.path > text {
  fill: var(--fg-color);
  opacity: var(--fg-opacity);
  font-family: "Silkscreen";
  font-size: 12px;
}

.plan > circle {
  fill: white;
}
