@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0&family=Russo+One&family=Outfit:wght@500&family=IBM+Plex+Mono:wght@400&display=swap");

body {
  margin: 0;
}
