.cavernPreview {
  position: absolute;
  overflow: hidden;

  width: 100%;
  height: 100%;

  background: #121212;

  .map {
    position: absolute;
    left: 0;
    top: 0;

    .baseplate {
      font-family: "Silkscreen";
      font-size: 8px;

      .fg {
        fill: white;
      }

      &.stockKind .bg {
        stroke: blue;
      }

      &.ambiguousKind .bg {
        fill: #222222;
      }

      &.caveKind .bg {
        fill: red;
      }

      &.hallKind .bg {
        fill: darkred;
      }
    }

    .path {
      stroke-linecap: round;
      stroke-dasharray: 2, 3;

      &.ambiguousKind {
        --fg-color: white;
        --fg-opacity: 0.3;
      }

      &.spanningKind {
        --fg-color: yellow;
      }

      &.auxiliaryKind {
        --fg-color: yellowgreen;
      }

      & > path {
        stroke: var(--fg-color);
        stroke-opacity: var(--fg-opacity);
        stroke-width: 2px;
      }

      & > text {
        fill: var(--fg-color);
        opacity: var(--fg-opacity);
        font-family: "Silkscreen";
        font-size: 12px;
        baseline-shift: 4px;
      }
    }

    .plan {
      --color-bg: #444444;
      --color-fg: white;

      &.caveKind {
        .bg {
          stroke: var(--color-bg);
          stroke-width: 2px;
          fill: none;
        }
        .fg {
          font-size: 18px;
        }
      }
      &.hallKind .bg {
        stroke: var(--color-bg);
        stroke-linecap: round;
        opacity: 0.4;
      }
      &.fluid6 {
        --color-bg: rgb(255, 153, 0);
      }
      &.fluid11 {
        --color-bg: blue;
      }
      .fg {
        text-anchor: middle;
        fill: var(--color-fg);
        font-family: "Silkscreen";
        font-size: 12px;
        stroke: black;
        stroke-width: 0.2;
        &.architect {
          font-size: 8px;
          baseline-shift: -100%;
        }
      }
    }

    .pearl {
      &.innerPearl {
        stroke-width: 2px;
        &.caveKind {
          --color0: #40ffff;
          --color1: #40dddd;
          --color2: #40bbbb;
          --color3: #409999;
        }
        &.hallKind {
          --color0: #ffff20;
          --color1: #dddd20;
          --color2: #bbbb20;
          --color3: #999920;
        }
      }
      &.outerPearl {
        stroke-width: 1px;
        --color0: #999999;
        --color1: #888888;
        --color2: #777777;
        --color3: #666666;
      }
      .layer {
        &.layer0 {
          stroke: var(--color0);
        }
        &.layer1 {
          stroke: var(--color1);
        }
        &.layer2 {
          stroke: var(--color2);
        }
        &.layer3 {
          stroke: var(--color3);
        }
      }
    }

    .tiles {
      shape-rendering: crispEdges;
      .label {
        text-anchor: middle;
        font-size: 2px;
        font-family: 'Silkscreen';
        color: black;
      }
    }

    .ore {
      .ring {
        fill: none;
        stroke: brown;
        stroke-width: 0.5px;
      }
    }

    .crystals {
      .ring {
        fill: none;
        stroke: greenyellow;
        stroke-width: 0.5px;
      }
    }

    .entity {
      --color-fg: yellow;
      &.enemy {
        --color-fg: #ff0000;
      }
      .marker {
        fill: var(--color-fg);
        stroke: black;
        stroke-width: 1px;
      }
      .label {
        fill: black;
        font-family: 'Outfit';
        font-size: 2px;
        text-anchor: middle;
      }
    }

    .openCaveFlag {
      stroke: red;
      fill: red;
    }
  }

  .stats {
    position: absolute;
    left: 0;
    bottom: 0;
    color: greenyellow;
    font-family: "Silkscreen";
    font-size: 8px;
    max-width: 400px;
    border: 1px solid #999999;
    padding: 4px 4px 4px 14px;
    margin: 8px;
  }

  .error {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    font-size: 24px;
    color: #f18686;
    font-family: "Silkscreen";
    text-align: center;
    line-break: anywhere;
  }
}
